@import '../common/var.scss';

//mobile
@media all and (max-width: 1000px) {
	.detect {
		position: relative;
		width: 100vw;
		height: 100vh;
	}

	.group {
		position: absolute;
		top: 50px;
		left: 20px;
	}

	.title {
		font-weight: bold;
		font-size: 30px;
		line-height: 19px;
		margin-top: 40px;
	}

	.sub {
		font-weight: 300;
		font-size: 22px;
		line-height: 17px;
	}

	.detect-turtle-img {
		width: 90%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.start-active {
		position: absolute;
		bottom: 15%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #8ee2cf;
		border-radius: 100px;
		height: 60px;
		width: 173px;
		border: 0;
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff;
	}
}

// PC
@media all and (min-width: 1000px) {
	.detect {
		position: relative;
		width: 100vw;
		height: 100vh;
	}

	.group {
		position: absolute;
		top: 50px;
		left: 100px;
	}

	.title {
		font-weight: bold;
		font-size: 30px;
		line-height: 19px;
		margin-top: 40px;
	}

	.sub {
		font-weight: 300;
		font-size: 22px;
		line-height: 17px;
	}

	.detect-turtle-img {
		height: auto;
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.start-active {
		position: absolute;
		bottom: 15%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #8ee2cf;
		border-radius: 100px;
		height: 60px;
		width: 173px;
		border: 0;
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff;
	}
}
